.divProjects {
  height: 600px;
  /* background-color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px 0; */
  /* margin-top: 250px; */
}

.projects {
  font-size: 100px;
  /* margin-top: 60px;  */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
}

.projectBoxes {
  display: flex;
  justify-content: center; /* Center items horizontally */

  gap: 5rem; /* Space between projects */
}


.move-diagonal {
  transform: translate(800px, -800px); /* Adjust values for the desired diagonal movement */
}

.projectPhotoOne {
  width: 1500px;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Makes sure the image covers the container */
}

.move-back {
  transform: translate(0, 0) rotate(180deg); /* Rotate 180 degrees for the return */
  /* transition: transform 0.5s ease-in; */
}
