/* Big Div */
.heroContainer {
  height: 105vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

/* Logos */
.logos img {
  display: block;
  width: auto;
  object-fit: contain;
}

.logos a {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.logos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -30px 30px 0 0;
  gap: 10px;
}

.linkedinLogo {
  height: 30px;
}

.githubLogo {
  height: 29px;
}

.instaLogo {
  height: 43px;
}

/* Text */
.nameAndJobPrimaryDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: -200px 150px 0 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .heroContainer {
    padding-top: 30px;
  }

  .githubLogo {
    height: 28px;
    margin-top: 30px;
  }

  .linkedinLogo {
    margin-top: 30px;
  }

  .instaLogo {
    height: 40px !important;
    margin-top: 30px;
  }

  .nameAndJobPrimaryDiv {
    margin: -40px 100px 0 0;
  }

  .nameAndJob h1 {
    font-size: 2.5rem;
  }

  .nameAndJob h2 {
    font-size: 2rem;
  }

  .nameAndJob {
  margin: -120px 150px 0 0;
  }
}

@media (max-width: 768px) {
  .githubLogo {
    height: 30px;
    margin-top: 30px;
  }

  .linkedinLogo {
    margin-top: 30px;
  }

  .instaLogo {
    height: 40px !important;
    margin-top: 30px;
  }

  .nameAndJobPrimaryDiv {
    margin: -30px 50px 0 0;
  }

  .nameAndJob h1 {
    font-size: 2rem;
  }

  .nameAndJob h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 637px) {
  .githubLogo {
    height: 30px;
    margin-top: 29px;
  }

  .linkedinLogo {
    margin-top: 30px;
  }

  .instaLogo {
    height: 43px !important;
    margin-top: 30px;
  }

  .nameAndJobPrimaryDiv {
    margin: -30px 30px 0 20px;
  }

  .nameAndJob h1 {
    font-size: 1.8rem;
  }

  .nameAndJob h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 590px) {
  .githubLogo {
    height: 27px;
    margin-top: 28px;
  }

  .linkedinLogo {
    margin-top: 30px;
  }

  .instaLogo {
    height: 38px !important;
    margin-top: 28px;
  }

  .nameAndJobPrimaryDiv {
    margin: -20px 20px 0 10px;
  }

  .nameAndJob h1 {
    font-size: 1.4rem;
  }

  .nameAndJob h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 510px) {
  .githubLogo {
    height: 26px;
    margin-top: 29px;
  }

  .linkedinLogo {
    margin-top: 30px;
  }

  .instaLogo {
    height: 36px !important;
    margin-top: 30px;
  }

  .nameAndJobPrimaryDiv {
    margin: -20px 20px 0 30px;
  }

  .nameAndJob h1 {
    font-size: 1.4rem;
  }

  .nameAndJob h2 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {

  .githubLogo {
    height: 18px;
    margin-top: 29px;
  }

  .linkedinLogo {
    height: 20px;
    margin-top: 30px;
  }

  .instaLogo {
    height: 28px !important;
    margin-top: 30px;
  }

  .nameAndJobPrimaryDiv {
    margin: -10px 10px 0 40px;
  }

  .nameAndJob h1 {
    font-size: 1.2rem;
  }

  .nameAndJob h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 462px) {
  .linkedinLogo {
    height: 20px;
  }

  .githubLogo {
    height: 21px;
  }

  .nameAndJobPrimaryDiv {
    margin: -10px 10px 0 30px;
  }

  .nameAndJob h1 {
    font-size: 1rem;
  }

  .nameAndJob h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 417px) {

  .linkedinLogo {
    height: 20px;
  }

  .githubLogo {
    height: 21px;
  }

  .nameAndJobPrimaryDiv {
    margin: -10px 10px 0 20px;
  }

  .nameAndJob h1 {
    font-size: 1rem;
    margin-left: 90px;
  }

  .nameAndJob h2 {
    font-size: 0.9rem;
    width: 300px;
    margin-left: 90px;
  }
}

@media (max-width: 382px) {
  .logos img {
    height: 20px;
  }

  .nameAndJobPrimaryDiv {
    margin: -5px 10px 0 0;
  }

  .nameAndJob h1 {
    font-size: 1.1rem;
    margin-left: 100px;
  }

  .nameAndJob h2 {
    font-size: 1rem;
    margin-left: 100px;
  }
}

@media (max-width: 320px) {
  .logos img {
    height: 18px;
  }

  .nameAndJobPrimaryDiv {
    margin: 0 5px;
  }

  .nameAndJob h1 {
    font-size: 1rem;
    margin-left: 150px;
    width: 200px;
  }

  .nameAndJob h2 {
    font-size: 0.9rem;
    margin-left: 150px;
    width: 250px;
  }
}
