/* Big Div */
.heroContainer{
  height: 100vh;
}

/* Logos */
.logos img {
  display: block;
  width: auto;
  object-fit: contain;
}

.instaLogo {
  height: 28px;
}

.logos a {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.logos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -30px 30px 0 0;
  gap: 10px;
}

.linkedinLogo{
  height: 30px;
  margin-bottom: 5px;
}

.githubLogo {
  height: 29px;
  margin-bottom: 7px;
}

.instaLogo {
  height: 43px;
  margin-bottom: 4px;
}

/* Text: */

.nameAndJobPrimaryDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 200px 150px 0 0;
}
