.logos {
  display: flex;
  justify-content: end;
  align-items: start;
  margin: -80px 80px 0 0;
}

.linkedinLogo {
  height: 28px;
  margin: 6px 5px 0 10px;
}

.instaLogo {
  height: 40px;
}

.githubLogo {
  height: 28px;
  margin: 5px 0 0 10px;
}
