.projects {
  font-size: 30px;
  margin-top: -160px;
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
}
.projectPhotoOne {
  /* width: 60%; */
  /* width: 100%; */
  width: 1500px;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Makes sure the image covers the container */
}
