.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px; /* Desired width */
  background: white; /* Background color */
  overflow: hidden; /* Prevent overflow when closed */
}

.links {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links a {
  font-size: 40px;
  color: black; /* Link color */
}

.toggle-button {
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.toggle-button:hover {
  color: gray;
}

@media (max-width: 768px) {
  .bg {
    width: 300px; /* Adjust width for mobile */
  }

  .links a {
    font-size: 20px;
  }
}
