.parallax {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(180deg, #111132, #505064);
}

.parallax h1 {
  font-size: 5vw;
  color: white;
  text-align: center;
  position: relative;
  z-index: 4;
  margin: 0;
}

.parallax .stars,
.parallax .planets,
.parallax .sun,
.parallax .mountains {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.parallax .stars {
  background-image: url("../../images/stars.png");
  z-index: 1;
}

.parallax .sun {
  background-image: url("../../images/sun.png");
  z-index: 3;
}

.parallax .mountains {
  background-image: url("../../images/mountains.png");
  z-index: 5;
}

@media (max-width: 1024px) {
  .parallax {
    background-size: cover;
    background-position: center;
  }

  .parallax h1 {
    font-size: 7vw;
  }

  .parallax .mountains {
    background-size: 150%;
    background-position: bottom;
  }

  .parallax .planets {
    display: none;
  }
}


@media (max-width: 768px) {
  .parallax .sun {
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
  }

  .parallax .planets {
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    display: none;
  }

  .parallax .mountains {
    background-size: 120%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 480px) {

  .parallax .mountains {
    background-size: 120%;
  }
}
